.main-section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;

  .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

}

.left-content {
  width: 25.3646vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 5.0521vw;

  background: linear-gradient(193.8deg, #143B51 82.85%, #FFDD00 82.85%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .logo {
    width: 14.7396vw;
    height: auto;
    display: flex;
    margin-bottom: 2.6042vw;
    margin-right: 0.5729vw;

    a, img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
}

.content-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 5.3917vw;
  padding-bottom: 4.7917vw;
  padding-left: 3.0729vw;
  padding-right: 3.0729vw;
  width: calc(100% - 25.3646vw);


  .logo {
    display: none;
  }

  .bg-i {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 2.5521vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    pointer-events: none;

    img {
      width: auto;
      height: 100%;
      max-width: 72.0833vw;
      object-fit: cover;
    }
  }
}

.right-items {
  width: 100%;
  max-width: 33.0729vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 100%;

  span {
    font-style: normal;
    font-weight: 800;
    font-size: 4.7917vw;
    line-height: 1;
    color: #143B51;
    display: inline-block;
    text-align: center;
    margin-bottom: 3px;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 2.8646vw;
    line-height: 1.01;
    text-align: center;
    color: #143B51;

    strong, small {
      font-weight: 800;
      font-size: inherit;
    }

    small {
      //background: linear-gradient(183.06deg, #FFDD00 58.05%, #143C53 88.78%), #143B51;
      background: linear-gradient(180.07deg,#FFDD00 31.2%,#143D53 80.7%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 24.2188vw;
    margin-top: 2.2396vw;
    margin-right: 4px;

    li {
      width: 100%;
      height: 5.4167vw;
      margin-bottom: 1.2500vw;
      padding: 0.9375vw;
      display: flex;
      align-items: center;
      justify-content: center;

      font-style: normal;
      font-weight: 500;
      font-size: 2.3438vw;
      line-height: 1.3;
      text-align: center;
      color: #FFDD00;
      background: #143B51;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.bottom-content {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: #143B51;
  width: 100%;
  min-height: 1.8229vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 0.5729vw;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375vw;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }
}

.form-block {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  > p {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5521vw;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    width: 100%;
    max-width: 16.3542vw;
    margin-right: 0.7292vw;
  }

  .close {
    display: none;
  }
}
.checkbox-input span {
  text-align: right;
}
.form {
  width: 100%;
  max-width: 16.0417vw;
  margin-top: 2.1875vw;
  margin-right: 0.3646vw;
  .wpcf7-spinner {
    display: none;
  }
  form {
    width: 100%;

    > p {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  form {
    div:not(.input) {

      & + .input {
        margin-top: 0;
      }
    }
  }
  .input {
    width: 100%;
    display: inline-block;
    margin-top: 1.4583vw;

    &:nth-child(4) {
      margin-top: 1.6146vw;
    }

    input {
      width: 100%;
      height: 2.5521vw;
      background: #FFFFFF;
      border: 1px solid #fff;
      padding: 0.2083vw 0.5729vw;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      font-style: normal;
      font-weight: 500;
      font-size: 1.0938vw;
      line-height: 1.2;
      color: #143B51;

      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 1.0938vw;
        line-height: 1.2;
        color: #143B51;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .btn {
    margin-top: 1.9792vw;
  }
}

.btn {
  width: 100%;
  height: 3.1771vw;
  outline: none;

  background: #FFDD00;
  border-radius: 6px;
  border: 2px solid #FFDD00;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.3125vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 1.2500vw;
  line-height: 1;
  color: #143B51;
  cursor: pointer;

  &:hover {
    background: #143B51;
    color: #FFDD00;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.checkbox-input {
  margin-top: 0.4167vw;
  width: 100%;
  position: relative;
  padding-right: 1.3021vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;


  font-style: normal;
  font-weight: 500;
  font-size: 0.8854vw;
  line-height: 1.2;
  color: #FFFFFF;

  label {
    display: none;
  }

  input {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: auto;
    cursor: pointer;

    &:checked ~ span {
      &::before {
        background: url("../img/galochka.svg") no-repeat center / 0.8854vw, #fff;
      }
    }
  }

  span {
    &::before {
      width: 1.0938vw;
      height: 1.0938vw;
      background: #fff;
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -45%);
    }
  }
}

.right-items {
  .btn {
    display: none;
  }
}
@media screen and (max-width: 1920px) and (min-width: 823px) {
  .left-content {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}
@media screen and (max-width: 1700px) and (min-width: 823px) {
  .left-content {
    background: linear-gradient(193.8deg, #143B51 85.85%, #FFDD00 85.85%);
  }
}
@media screen and (min-width: 822px) {
  .main-section {
    overflow: hidden;
  }
  .left-content {
    &.anim {
      transform: translate(-50%, 0);
      opacity: 0;

      &.done {
        transform: translate(0, 0);
        opacity: 1;

      }
    }
  }
  .content-right {
    .bg-i {
      transition-delay: 0.3s;
      opacity: 0;
      transform: translate(0, 50%);

      &.done {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

}

.right-items {
  &::-webkit-scrollbar {
    display: none;
  }
  span, p {
    opacity: 0;
    &.done {
      opacity: 1;
    }
  }
  ul li {
    opacity: 0;
    transform: translate(0, 3vw);
    transition: transform 0.4s ease, opacity 0.3s ease;

    &:nth-child(1) {
      transition-delay: 0.12s;
    }

    &:nth-child(2) {
      transition-delay: 0.24s;
    }

    &:nth-child(3) {
      transition-delay: 0.36s;
    }

    &:nth-child(4) {
      transition-delay: 0.48s;
    }

    &:nth-child(5) {
      transition-delay: 0.56s;
    }
  }

  ul {
    &.done {
      opacity: 1;

      li {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}

@media screen and (max-width: 821px) {
  .anim {
    opacity: 1 !important;
  }
  .left-content {
    background: #143B51;
    border-radius: 4px;
    position: fixed;
    bottom: 24.9000vw;
    left: 4.2667vw;
    right: 4.5333vw;
    width: auto;
    top: auto;
    z-index: 5;
    height: auto;
    transform: translate(0, 150%);
    padding: 8.2667vw 4.2667vw 5.5333vw 4.0000vw;
    transition: transform 0.5s linear;

    .logo {
      display: none;
    }

    &.visible {
      transform: translate(0, 0);

      &::before {
        position: absolute;
        left: -20vw;
        right: -20vw;
        top: -50vw;
        bottom: -50vw;
        cursor: pointer;
        z-index: -1;
        display: inline-block;
        content: '';
      }
    }


  }
  .form-block {
    > p {
      font-weight: 500;
      font-size: 8.5333vw;
      line-height: 1;
      max-width: 54.6667vw;
      margin-right: 2.1292vw;
    }
  }
  .form {
    max-width: 82.1333vw;
    width: 100%;
    margin-top: 9.3333vw;
    margin-right: 0;
  }
  .form .input input {
    height: 13.0667vw;
    padding: 1px 2.9333vw;
    font-size: 5.6000vw;

    &::placeholder {
      font-size: 5.6000vw;
    }
  }
  .form .input {
    margin-top: 7.4667vw;
    margin-right: 2px;
  }
  .form .input:nth-child(4) {
    margin-top: 8.2667vw;
  }
  .checkbox-input {
    font-size: 4.5333vw;
    padding-right: 7.1667vw;
    margin-top: 6.6167vw !important;

    span {
      &::before {
        right: 2px;
        width: 5.6000vw;
        height: 5.6000vw;
      }
    }
  }
  .checkbox-input input:checked ~ span::before {
    background: url(../img/galochka.svg) no-repeat center/4.5333vw, #fff;
  }
  .btn {
    height: 16.2667vw;
    width: 100%;
    padding: 1.6000vw;
    max-width: 82.9333vw;
    font-size: 6.4000vw;
  }
  .form .btn {
    margin-top: 7.9892vw;
  }

  .content-right {
    width: 100%;
    max-width: none;
    padding-top: 9.6000vw;
    padding-right: 5.8667vw;
    padding-left: 4.2667vw;
    padding-bottom: 4.2667vw;

  }
  .bg-i {
    display: none !important;
  }
  .main-section .bg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .bottom-content {
    width: 100%;
    height: auto;
    min-height: 11.7333vw;
    padding: 1.8667vw 1.6000vw;

    p {
      text-align: center;
      font-size: 3.2000vw;
      line-height: 4.0000vw;
    }
  }
  .right-items {
    width: 100%;
    max-width: none;
    padding-bottom: 10vw;

    .btn {
      display: flex;
      width: 100%;
      max-width: 82.9333vw;
      margin-top: 4.8000vw;
      margin-left: 1.0667vw;
    }

    span {
      font-size: 11.2000vw;
      margin-bottom: 1.1667vw;
      margin-right: -3px;
    }

    p {
      font-size: 7.4667vw;
      line-height: 1.1;
    }

    ul {
      max-width: 89.8667vw;
      width: 100%;
      margin-top: 7.8667vw;
      margin-right: 0;

      li {
        width: 100%;
        height: 19.7333vw;
        padding: 2.6667vw;
        font-size: 8.5333vw;
        margin-bottom: 4.8000vw;

        &:first-child {
          margin-bottom: 4.5333vw;
        }
      }
    }

    .logo {
      display: flex;
      width: 55.7333vw;
      margin-bottom: 10.8vw;
      height: auto;
      margin-left: 3.2000vw;

      img, a {
        width: 100%;
        height: auto;
      }
    }
  }
  .checkbox-input {
     span {
       display: inline-block;
       width: 100%;
     }
  }
}

@media screen and (max-width: 425px) and (max-height: 845px) {
  .main-section {
    height: 100%;
    min-height: 0;
  }
  .right-items {
    //overflow: hidden;
  }
  .right-items p {
    font-size: 3.5vh;
  }
  .right-items ul li:first-child {
    margin-bottom: 1.4vh;
  }
  .right-items .btn {
    margin-top: 2vh;
  }
  .btn {
    height: 9vh;
  }
  .right-items ul li {
    font-size: 3.8vh;
  }
  .content-right {
    padding-top: 2vh;
  }
  .right-items span {
    font-size: 5vh;
  }
  .right-items .logo {
    margin-bottom: 3vh;
  }
  .right-items .logo {
    width: auto;
    height: 11vh;
    img {
      width: auto;
      height: 100%;
    }
  }

  .right-items ul {
    margin-top: 2.2vh;
  }
  .right-items ul li {
    height: 8.4vh;
    margin-bottom: 1.4vh;
  }
  .right-items {
    height: 100%;
    ul {
      margin-top: auto;
      padding-top: 2.2vh;
      ~ .btn {
        margin-bottom: auto;
      }
    }
  }
  .left-content {
    bottom: 7vh;
  }
  .form {
    .wpcf7-spinner {
      display: none;
    }
    form {
      div:not(.input) {
        //margin-top: 0;
        & + .input {
          margin-top: 0;
        }
      }
    }
  }
  .form .input input {
    height: 8vh;

  }
  .form-block > p {
    font-size: 3.5vh;
  }
  .form {
    margin-top: 3.4vh;
  }
  .left-content {
    padding-top: 2.5vh;
  }
  .form .input {
    margin-top: 3.3vh;
  }
  .form .input:nth-child(4) {
    margin-top: 3.3vh;
  }
  .checkbox-input {
    margin-top: 3.4vh !important;
    padding-top: 0;
    padding-bottom: 0;
  }
  .form .btn {
    margin-top: 4vh;
  }
}